* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: 'Inter', sans-serif;
    font-style: italic;
    font-weight: small;
    color: white;
    background-image: url('background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

#navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1rem;
    gap: 4rem;
    width: 100%;
    font-size: 1.1rem;
    align-items: center;
    color: white;
}

#menuOne {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
}

#menuTwo {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}



.home, .projects, .contact {
    display: flex;
    flex-direction: row;
}

.githubIcon, .gmailIcon, .linkedinIcon {
    width: 2rem;
    height: 2 rem;
}

/*Animations*/

.home, .projects, .contact, .githubIcon, .linkedinIcon {
    transition: all .2s ease-in-out;
}

.home:hover, .projects:hover, .contact:hover, .githubIcon:hover, .linkedinIcon:hover {
    transform: scale(1.1);
}